---
const base = import.meta.env.BASE_URL;
---
<footer class="footer7_component">
  <div class="footer-background-wrapper">
    <div id="footer-webgl" class="footer7_background"></div>
  </div>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-vertical padding-xxlarge">
        <div class="padding-bottom padding-xxlarge">
          <div class="footer7_top-wrapper">
            <a href={`${base}chefs/`} class="bl-footer-link text-style-allcaps">Chefs</a>
            <a href={`${base}about/`} class="bl-footer-link text-style-allcaps">About</a>
            <a href={base} class="footer-logo w-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 123 252" preserveAspectRatio="xMidYMid meet">
                <path d="M12.9427 65.8075C-1.0577 61.9883 0.437488 41.3917 4.06218 30.3432C5.51206 26.2512 7.82281 22.6138 10.4054 19.1129C12.0818 16.6122 14.3473 14.4753 15.0269 11.5654C15.1175 8.47361 11.085 10.3832 8.95552 12.111C2.47638 17.3397 2.20453 26.4331 0.799956 34.0715C-2.14511 51.0307 2.567 75.9012 22.9106 73.7188H23.0918C57.9796 69.7631 64.3228 0.0622139 104.194 8.47361C111.852 10.4742 116.564 16.1575 118.92 23.8415C120.007 27.6152 120.279 31.6163 120.46 35.3901C120.687 38.982 120.551 42.6193 119.554 46.0748C115.929 58.942 103.787 65.6711 92.1876 69.6722C62.737 80.7661 13.8942 83.2214 1.84206 121.141C0.0297089 127.37 -0.559305 134.144 0.981191 140.328C3.02008 149.194 7.91343 157.56 16.9752 159.197C53.4487 163.198 60.5622 101.454 91.8705 94.0425C101.521 92.0874 108.907 94.5426 113.8 100.044H113.755C116.065 102.636 117.742 105.864 118.874 109.592C119.962 113.366 120.234 117.367 120.415 121.141C120.641 124.733 120.506 128.37 119.509 131.826C115.884 144.693 103.741 151.422 92.1423 155.423C62.6917 166.517 13.8489 168.972 1.79675 206.892C-0.0156009 213.121 -0.604613 219.895 0.935883 226.079C2.88416 234.899 7.7775 243.311 16.8392 244.902C53.3128 248.903 60.4262 187.159 91.7345 179.748C109.496 176.11 119.463 187.568 120.732 204.982C122.363 219.85 118.15 234.536 107.819 245.084C106.505 246.766 104.013 248.63 104.33 250.904C105.69 253.313 110.266 251.176 112.123 249.949C117.47 246.402 118.829 239.582 120.279 233.581C122.273 224.624 123.405 215.394 122.544 206.073C121.457 190.887 113.392 172.246 96.4013 171.473C59.2029 171.291 53.2221 231.444 21.053 237.491C14.891 238.809 7.64157 236.763 4.51527 230.898C2.0686 226.488 1.88737 221.396 2.11391 216.44C2.65761 204.209 9.72577 193.615 18.1079 186.204C44.5229 159.924 108.091 167.335 121.049 134.144C123.451 127.324 123.36 120.413 121.729 113.775C121.095 110.592 120.098 107.319 118.784 104.136C118.739 103.954 118.693 103.772 118.693 103.636C114.615 94.088 107.411 86.2222 96.492 85.722C59.2482 85.5402 53.3128 145.693 21.1436 151.74C14.9816 153.059 7.73219 151.013 4.60589 145.147C2.15922 140.737 1.97798 135.645 2.20453 130.689C2.74823 118.458 9.81639 107.864 18.1985 100.453C44.6135 74.1734 108.182 81.5845 121.14 48.3936C123.541 41.5736 123.451 34.6626 121.82 28.0244C119.373 15.8847 112.214 2.2901 99.0746 0.244083C57.7077 -4.84822 52.5425 71.4909 12.9427 65.8075Z" fill="currentColor"></path>
              </svg>
            </a>
            <a href={`${base}shows/`} class="bl-footer-link text-style-allcaps">Shows</a>
            <a href={`${base}contact/`} class="bl-footer-link text-style-allcaps">Contact</a>
          </div>
        </div>
        <div class="line-divider"></div>
        <div class="padding-top padding-medium">
          <div class="footer7_bottom-wrapper">
            <div class="footer7_credit-text text-style-allcaps">All rights reserved House of Samuha @2025</div>
            <div class="w-layout-grid footer7_legal-list">
              <a href="#" class="footer7_legal-link text-style-allcaps">Privacy Policy</a>
              <a href="#" class="footer7_legal-link text-style-allcaps">Terms of Service</a>
              <a href="#" class="footer7_legal-link text-style-allcaps">Cookies Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
